<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
      <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo.svg') }}" sizes="any">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dark-mode.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

      {% block extra_head %}{% endblock %}
      <!-- https://flask-assets.readthedocs.io/en/latest/#using-the-bundles -->
      {% assets "scss_all" %}
          <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
      {% endassets %}

    {% block styles %}{% endblock %}


  </head>
  <body>
    {% include 'components/navbar.html' %}
    {% include 'components/modal.html' %}
{#    {% block navbar %}{% endblock %}#}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

  </body>
</html>